---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "bootstrap-overrides";

@charset "utf-8";

$navbar-bg-color: #040404;
$footer-bg-color: $navbar-bg-color;

$grey-color: #c8c5d5;
$grey-color-dark: darken($grey-color, 25%);

$icon-color: $grey-color;

.container {
  max-width: 800px;
}

h2 {
  padding-top: 0.5rem;
  border-bottom: 1px dotted lighten($body-bg, 20%);
}

b, strong {
  font-weight: bold;
}

ul {
  list-style-type: circle;
}

.navbar {
  background-color: $navbar-bg-color;
  border-bottom: 1px dotted lighten($body-bg, 20%);
  text-transform: uppercase;
}

.navbar .navbar-brand {
  &,
  &:visited {
      color: $grey-color-dark;
  }

  &:hover {
      color: $grey-color;
  }
}

.icon {
  > svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;

    path {
      fill: $icon-color;
    }
  }

  &:hover {
    > svg {
      path {
          fill: lighten($icon-color, 100%);
      }
    }
  }
}

// --- Sticky footer ---
$footer-height: 2.5rem;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height; /* Set the fixed height of the footer here */
  line-height: $footer-height; /* Vertically center the text there */
  background-color: $footer-bg-color;
  border-top: 1px dotted lighten($body-bg, 20%);

  a {
    &,
    &:visited {
        color: $navbar-dark-color;
    }

    &:hover {
        color: $navbar-dark-hover-color;
    }
  }
}
// ---

a.app-list-link {
  &,
  &:visited {
    color: $grey-color;
  }

  &:hover {
    color: lighten($grey-color, 100%);
  }
}

blockquote {
  background-color: lighten($body-bg, 8%);
  color: lighten($grey-color, 10%);
  padding: 0.65rem 1rem;
  border-left: 1px solid lighten($body-bg, 30%);

  em {
    color: darken($grey-color, 10%);
  }

  > :last-child {
      margin-bottom: 0;
  }
}

.app-header {
  max-width: 660px;
}

.app-header-body { // Way hacky, MAYBE: just use the grid?
  min-height: 144px;
}

a.app-badge {
  &:not(:last-child) {
      margin-right: 8px;
  }

  img {
    margin-top: 0.5rem;
    height: 40px;
  }
}
