---
# Velvet Machine custom stylesheet
---
@charset "utf-8";

$background-color: #0c0d13;

html, body {
  background-color: $background-color;
}

blockquote {
  background-color: lighten($background-color, 8%);
  border-left-color: lighten($background-color, 30%);
}
