<a class="contact-link" href="mailto:contact@yuriturov.com"><span class="icon">{% include icon-mail.svg %}</span></a>
<a class="contact-link" href="https://twitter.com/{{ site.twitter }}" target="_blank"><span class="icon">{% include icon-twitter.svg %}</span></a>
<a class="contact-link" href="https://facebook.com/yuriturov.apps" target="_blank"><span class="icon">{% include icon-facebook.svg %}</span></a>
<a class="contact-link" href="https://youtube.com/yuriturov" target="_blank"><span class="icon">{% include icon-youtube.svg %}</span></a>
