<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <div class="contacts">
      {% include contacts.html %}
    </div>

    <nav class="site-nav">

      <div class="trigger">
        {% for pageitem in site.pages %}
          {% if pageitem.title and pageitem.include-in-navbar != false %}
          <a class="page-link{% if pageitem.title == page.title %} selected{% endif %}" href="{{ pageitem.url | prepend: site.baseurl }}">{{ pageitem.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
