<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="refresh" content="2; url={{ site.redirect-url }}{% if page.redirect-path %}/{{ page.redirect-path }}{% endif %}">
  <link rel="canonical" href="{{ site.redirect-url }}{% if page.redirect-path %}/{{ page.redirect-path }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }} | {% endif %}Redirecting to Phonolyth...</title>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | prepend: site.url }}">
  {% if page.custom-stylesheet %}
  <link rel="stylesheet" href="{{ page.custom-stylesheet | prepend: "/css/" | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
</head>
