---
layout: default
---
<article class="post">

  <header class="post-header app-header mx-auto">
    <div class="media mb-4">
      <img class="mt-2 mr-4" src="{{ page.icon }}" data-rjs="2" alt="{{ page.title }} Icon">
      <div class="app-header-body media-body d-flex flex-column align-items-start">
        <h1 class="my-0">{{ page.title }}</h1>
        <p class="mb-0">{{ page.subtitle | newline_to_br }}</p>
        <div class="app-badges mt-auto">
          {% if true %}
          <a class="app-badge" href="{{ page.applink }}"><img src="/assets/app-store-badge.svg"/></a>
          {% endif %}
          <a class="app-badge" href="https://audiob.us"><img src="/assets/audiobus-badge-input.svg"/></a>
          {% if page.ableton-link-compatible %}
          <a class="app-badge" href="https://www.ableton.com/link"><img src="/assets/ableton-link-badge.svg"/></a>
          {% endif %}
          {% if page.usermanual %}
          <a class="app-badge" href="{{ page.usermanual }}"><img src="/assets/user-manual-icon.svg"/></a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
