---
layout: default
---
<article class="post">

  <header class="post-header app-header">
    <table class="app-table">
        <tr>
            <th class="app-table-cell" rowspan="3">
                <img class="app-icon" width="" src="{{ page.icon }}"/>
            </th>
            <th class="app-table-cell">
                <h1 class="post-title">{{ page.title }}</h1>
            </th>
        </tr>
        <tr>
            <td class="app-table-cell">
              <p>{{ page.subtitle | newline_to_br }}</p>
            </td>
        </tr>
        <tr>
            <td class="app-table-cell badges">
                {% if true %}
                <a href="{{ page.applink }}"><img class="badge" src="/assets/app-store-badge.svg"/></a>
                {% endif %}
                <a href="http://audiob.us"><img class="badge" src="/assets/audiobus-badge-input.svg"/></a>
                {% if page.usermanual %}
                <a href="{{ page.usermanual }}"><img class="badge" src="/assets/user-manual-icon.svg"/></a>
                {% endif %}
            </td>
        </tr>
    </table>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
